.brandIcon {
  height: 40px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  margin-top: 3.8em;
}
.App-container{
  height: calc(100% - 60px);
  padding: 10px;
}
.red {
  color: red;
}

.centerX {
  text-align: center;
}

.centerY {
  vertical-align: middle;
}

.social_icon {
  padding: 5px;
}

.home_page_section {
  padding: 50px;
}

.image_link:hover {
  cursor: pointer;
}

.image_link:active {
  opacity: 0.8;
}

.front-page-section {
  background-color: lightyellow;
  padding: 50px;
}

.profile_img_thumbnail {
  height: 40px;
  width: 40px;
  padding: 0;
}

.jumbotron {
  height: 40em;
  background-color: white;
  vertical-align: middle;
}

.app_play_store_large {
  padding: 10px;
}

.carousel {
  vertical-align: middle;
  height: 30em;
}

#testimonials_section {
  background-color: sandybrown;
  color: white;
}

.carousel-item {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
}

.carousel-caption {
  color: white;
  position: static;
}

.testimonial_image {
  vertical-align: middle;
  height: 250px;
}

/* DRJ */
.drj_workers_profile {
  height: 100px;
  width: 100px;
}

.App-footer{
  /* position: absolute; */
  /* bottom: 0;
  width: 100%; */
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  /* height:100px; */
  
}
.page-container {
  /* position: relative;
  min-height: 100vh; */
  width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    position: relative;
    /* margin-top: 50px !important; */
    /* box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);  */

}

.content-wrap {
  /* padding-bottom: 10.5rem;    */
   /* Footer height */
  /* padding: 10px; */
 
    /* min-height: -webkit-calc(100% - 100px);
    min-height: calc(100% - 100px); */
    min-height: calc( 100vh - 60px);; 
}

.scroll {
  max-height: 400px;
  overflow-y: scroll;
}
.boxShadow{
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
}
.cursor{
  cursor: pointer;
}
.cursor:hover{
  background-color: #e9e9e9; 
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.h6, h6 {
  font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.input-material {
  padding: .3rem 0 .55rem 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;

  font-size: 1rem;
  box-shadow: none;
  margin: 0 0 .5rem 0;
  height: 2.1rem;
  width: 100%;
}
.input-material:focus{
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #4285F4;
  box-shadow: 0 1px 0 0 #4285F4;
}
.label {
  font-size: .8rem;
  color: darken #ccc,90%;
}
.btn-rounded {
  border-radius: 10em;
}
.blue-text {
  color: #2196f3 !important;
}
.btn-material{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-material:focus{
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.btn-material:hover{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-fab {
  position: fixed !important;
  right: 20px;
  bottom: 100px;
}
.btn-floating-action {
  height: 56px;
  width: 56px;
  padding: 0px;
  border-radius: 50%;
  bottom: 20px;
  z-index: 9999;
}
.btn-floating-action i {
  line-height: 56px;
}

/* bugs list select  */
.my-select__menu {
  z-index: 99999 !important;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255,255,255,.8) url('images/Loading-icon.gif') no-repeat 50% 50%; */
  z-index: 9999;
  opacity: 0.80;
}
